<div id="main-container" class="container">
  <section class="main-section">
    <h1 class="header">Contact</h1>

    <!-- This is an A11y Change -->
    <form id="contact-form" role="contact form" action="mailto:jon.ledbetter@gmail.com" method="post" enctype="text/plain">
      <ul>
        <li>
          <label for="name">Name</label>
          <input class="text-light bg-dark" type="text" id="name" name="name" placeholder="John Smith"
            required="required">
        </li>
        <li>
          <label for="email">E-mail</label>
          <input class="text-light bg-dark" type="email" id="email" name="email" placeholder="example@gmail.com"
            required="required">
        </li>
        <li>
          <label for="message">Message</label>
          <textarea class="text-light bg-dark" id="message" name="message" required="required"></textarea>
        </li>
      </ul>

      <!-- This is an A11y Change -->
      <div id="buttons">
        <input class="button" role="submit" type="submit" id="submit" value="Send">
        <input class="button" role="reset" type="reset" id="reset" value="Reset">
      </div>
    </form>
    <br>
  </section>
</div>
