<main class="center" id="main">

  <div class="page-area">
  <!-- This is a Semantic HTML Change -->
  <aside id="disclaimer">
      <h1>Disclaimer</h1>
      <p>This site is a work in progress for ITIS 5166 - Network-based Application Development. As such, it will be varying degrees of ugly and dysfunctional for the next few months.</p>
  </aside>

  <!-- This is a Semantic HTML Change -->
  <!-- <table class="center">
      <tr>
          <th>Course</th>
          <th>Credit Hours</th>
          <th>Grade</th>
      </tr>
      <tr>
          <td>Competitive Cyberdefense</td>
          <td>Information Ethics and Policy</td>
          <td>Penetration Testing</td>
      </tr>
      <tr>
          <td>98.9%</td>
          <td>102%</td>
          <td>99%</td>
      </tr>
      </table> -->

      <pb-article>
        [title]="'Stay on track'"
        [content]="'Do you know where you are spending your money? If you really stop to track it down, you would get surprised! Proper budget management depends on real data... and this app will help you with that!'"
      </pb-article>

      <article>
          <h1>Alerts</h1>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </article>

      <article>
          <h1>Results</h1>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </article>

      <article>
          <h1>Free</h1>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
      </article>

      <article>
          <h1>Stay on track</h1>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </article>

      <article>
          <h1>Alerts</h1>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </article>

      <article>
          <h1>Results</h1>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </article>

      <article>
          <h1>Monthly Budget</h1>
          <p>
              <canvas id="myChart" width="400" height="400"></canvas>
          </p>
          <a href="http://localhost:3000/new_chart">Alternate (new D3JS) chart.</a>
      </article>


      <!-- This is a Semantic HTML Change that doesn't work for some reason -->
      <!-- <video>
          <iframe width="935" height="526" src="https://www.youtube.com/embed/gAkwW2tuIqE" title="Learn Docker in 7 Easy Steps - Full Beginner&#39;s Tutorial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </video> -->
<!-- </main> -->
